<div class="container">
  <div class="page-title">
    <h1>Our Menu (<%= @cocktails.count %>)</h1>
  </div>

<div class="cards">
  <% @cocktails.each do |cocktail|  %>
    <% if cocktail.photo.present? %>


      <%= link_to cocktail_path(cocktail), {class: "cocktail-name"} do %>
        <div class="card-category" style="background-image: url(<%= cl_image_path cocktail.photo, crop: :fill %>)" >
          <p><%= cocktail.name.downcase %></p>
        </div>
      <% end %>



    <% else %>
      <div class="card-category" style="background-image: url(https://images.crateandbarrel.com/is/image/Crate/DylanFHS16/?$web_product_hero$&190411135019&wid=625&hei=625)
        <p><%= link_to cocktail.name.downcase, cocktail_path(cocktail), {class: "cocktail-name"} %></p>
      </div>
    <% end %>
  <% end %>
</div>
