<div class="container">

  <div>
    <%= link_to "Back", cocktails_path %>
  </div>

  <div class="card-trip">
    <img src=<%= @cocktail.picture_url %> />
    <div class="card-trip-infos">
      <div>
        <div class="ingredient-header">
          <h2><%=  @cocktail.name.capitalize %></h2>
          <p><%= link_to "+ Ingredient", new_cocktail_dose_path(@cocktail)  %></p>
        </div>
        <h3>Ingredients</h3>
        <% @cocktail.doses.each do |dose|  %>
          <div class="single-ingredient">
            <p><%= dose.description %> of <%= dose.ingredient.name %></p>
            <!-- <p class="trash"><i class="far fa-trash-alt"></i></p> -->
            <div class="trash_link">
            <%= link_to "🗑", dose_path(dose), method: :delete %>
            </div>
          </div>
        <% end %>

      </div>
    </div>
  </div>

</div>


